
.container{
    display:grid;
    grid-template-columns: 2fr 1fr;
    height: 80vh;
}

#boxa{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    

}

#box1{
    border: 1px solid black;

}
#box2{
    border: 1px solid black;
    
}
#box3{
    border: 1px solid black;
    
}
#box4{
    border: 1px solid black;
    
}
#box5{
    border: 1px solid black;
    
}
#box6{
    border: 1px solid black;
    
}
#box7{
    border: 1px solid black;
    
}
#box8{
    border: 1px solid black;
    
}
#boxb{
    padding-left: 90px;
    align-items: center;
    border: 1px solid black;
    
    
}
#foot{
    background-color:tomato;
    height: 5vh;
    margin-top: 10px; 
    padding-top: 5px;
    text-align: center;
}

#head{
    padding-top: 30px;
    text-align: center;
    background-color:yellowgreen;
    height: 10vh;
    
}

#img1{
    width: 300px;
    height: 300px;
}
#img2{
    width: 300px;
    height: 300px;
}
ul{
    list-style-type: none;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;